*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

 .container{
  display: grid;
  margin-top: 50px;
 
  background-color: #34495e;
  height: 60vh;
  width: 500px;
  margin: 100px auto;
  text-align: center;
  
  
  
 }
 .img-con img{
margin: -40px;
border: 5px solid #fff;
  border-radius: 50%;
  height: 200 px;
  
 }